<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956035368958-doonsuoa1u46o7fcbhtfq5f8cnf35e1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956035368958-doonsuoa1u46o7fcbhtfq5f8cnf35e1i</string>
	<key>API_KEY</key>
	<string>AIzaSyADo27KuIApwPVHePUt7r-eAFnScL_XOqk</string>
	<key>GCM_SENDER_ID</key>
	<string>956035368958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.serendpt.chianucci</string>
	<key>PROJECT_ID</key>
	<string>jvf-chianucci</string>
	<key>STORAGE_BUCKET</key>
	<string>jvf-chianucci.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956035368958:ios:43b933103155a1c8</string>
	<key>DATABASE_URL</key>
	<string>https://jvf-chianucci.firebaseio.com</string>
</dict>
</plist>